/RealShot/node_modules/**/*
/RealShot/.expo/*
/RealShot/npm-debug.*
/RealShot/*.jks
/RealShot/*.p8
/RealShot/*.p12
/RealShot/*.key
/RealShot/*.mobileprovision
/RealShot/*.orig.*
/RealShot/web-build/

# macOS
/RealShot/.DS_Store

.DS_Store

# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/realshot-tester/node_modules
/realshot-tester/.pnp
/realshot-tester.pnp.js

# testing
/realshot-tester/coverage

# production
/realshot-tester/build

# misc
/realshot-tester/.DS_Store
/realshot-tester/.env.local
/realshot-tester/.env.development.local
/realshot-tester/.env.test.local
/realshot-tester/.env.production.local

/realshot-tester/npm-debug.log*
/realshot-tester/yarn-debug.log*
/realshot-tester/yarn-error.log*
